@model List<CSharpDragDrop.Models.Country>
@using Kendo.Mvc.UI;

@{
    


    <script type="text/javascript">
        $(document).ready(function () {
            
            $.ajax({
                type: "GET",
                url: "https://localhost:44375/Home/GetData",
                success: function (res) {
                    console.log(res);
                }
            });
        });
    </script>

    <div id="tree">
        
    </div>

    <div class="table">
        
    </div>
}